/* 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
}

header .navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* 기본적으로 세 개의 열 레이아웃 */
    grid-gap: 20px;
    padding: 20px;
}

.left-sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

.content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* 미디어 쿼리 - 화면 크기가 1200px 이상일 때 */
@media (min-width: 1200px) {
    main {
        grid-template-columns: 1fr 3fr 1fr; /* 세 개의 열 레이아웃 유지 */
    }
}

@media (max-width : 780px){
    main{
        grid-template-columns: 1fr 2fr;
    }

    .left-sidebar{
        grid-column: 1/3;
        padding : 10px;
    }

    .content{
        grid-column: 1/2;
    }

    .right-sidebar{
        grid-column: 2/3;
    }
}

/* 미디어 쿼리 - 화면 크기가 480px 이하일 때 */
@media ( max-width : 480px) {
    main{
        grid-template-columns: 1fr;
    }

    .left-sidebar, .content, .right-sidebar{
        grid-column: 1/2;
    }
}