.container{
    width: 200vh;
    height: 100vh;
    background-color: bisque;
}
li{
    list-style-type: none;
    display: inline;
    
}

h3{
    text-align: center;
}

.list{
    text-align: right;
    display: inline;
    flex-direction: row;
}

.month{
    border: 1px solid salmon;
    max-width: auto;
    height: 90vh;