@font-face {
  font-family: "my-font";
  src: url(./font/HelveticaNeueMedium.otf);
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: content-box;
  font-family: Avenir, Arial, georgia;
}

header {
  position: relative;
  width: 100%;
  height: 120px;
  background-color: #f6f5ef;
  position: fixed;
  z-index: 99;
}

.container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  position: relative;
}

.logo1 {
  width: 84px;
  height: 84px;
  position: absolute;
  top: 10%;
  left: 2%;
}

.header1 {
  position: absolute;
  width: 40%;
  height: 20%;
  top: 5%;
  right: 11.5%;
  background-image: url(./images/headerbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 0.9rem;
}
.header1 ul {
  width: 100%;
  top: 40%;
  right: 4%;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}
.btn1 {
  position: absolute;
  background: white;
  padding: 1%;
  cursor: pointer;
}

.header1 > ul.btn1transform {
  transform: translateX(-30%);
  transition: 1s;
}

#search {
  display: none;
  width: 40%;
  height: 90%;
  border: none;
  position: absolute;
}

.search1 {
  display: flex;
  width: 2%;
  height: 20%;
  left: 88%;
  position: absolute;
  top: 6%;
  border: 1px solid black;
  border-radius: 5%;
  background-color: white;
  padding: 0.2%;
}

.search1.btntransform {
  width: 15%;
  height: 20%;
  left: 75%;
  transition: 1s;
}

.btn1 {
  position: absolute;
  right: 10%;
}

a {
  text-decoration: none;
  color: inherit;
}

.hbtn {
  display: none;
}

.side {
  display: none;
}

/* header1 끗 */

/* .header2{
    width: 100%;
    height: 120px;
    position: absolute;
    top: 1%;
} */

.hedaer2 {
  z-index: 2;
  position: relative;
}

.nav {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: -5%;
  font-size: 0.9rem;
}

.box {
  width: 159%;
  height: 0%;
  visibility: hidden;
  position: absolute;
  left: -25%;
  top: 49%;
  transition: all 0.1s;
}

.box.boxtransform {
  height: 220%;
  visibility: visible;
  transition: all 0.5s;
  left: -25%;
  top: 50%;
  color: white;
  background-color: #2c2a29;
}

.h-box {
  position: absolute;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  left: 15%;
}

.h-box ul {
  font-size: 0.7rem;
  line-height: 180%;
  margin-top: 1%;
}

.h-box li {
  color: rgb(102, 102, 102);
}

.navbar h4 {
  font-size: 1rem;
  margin-bottom: 10%;
}

.navbar {
  margin-right: -25%;
}

.menu {
  display: inline-block;
  width: 100%;
  margin-right: 52px;
  height: 50%;
  line-height: 40px;
  text-align: center;
}

.menu.hover {
  color: #669900;
  background-color: #2c2a29;
  text-decoration: underline;
}

/* section2 */

.section2 {
  width: 100%;
  height: 32vw;
  background: no-repeat center/cover url(./images/background.jpg);
  position: relative;
  top: 110px;
  z-index: 1;
}
@keyframes opacity {
  100% {
    opacity: 1;
  }
}
.logo2 {
  position: absolute;
  width: 23%;
  top: 38%;
  left: 12%;
  opacity: 0;
  animation: opacity 1s forwards;
}

.drink1 {
  opacity: 0;
  position: absolute;
  top: 43.03%;
  right: 33.7%;
  width: 14.6%;
  animation: opacity 1s 0.5s forwards;
}

.drink2 {
  opacity: 0;
  position: absolute;
  top: 13%;
  right: 29.55%;
  width: 11.15%;
  animation: opacity 1s 1s forwards;
}

.drink3 {
  opacity: 0;
  position: absolute;
  top: 22.29%;
  right: 18.45%;
  width: 15.35%;
  animation: opacity 1s 1.5s forwards;
}

.drink4 {
  opacity: 0;
  position: absolute;
  top: 13%;
  left: 44.5%;
  width: 12.45%;
  animation: opacity 1s 2s forwards;
}

.drink5 {
  opacity: 0;
  position: absolute;
  top: 21.82%;
  left: 36.8%;
  width: 12.35%;
  animation: opacity 1s 2.5s forwards;
}

.detail1 {
  min-width: 125px;
  opacity: 0;
  position: absolute;
  width: 3%;
  left: 20%;
  top: 55%;
  color: #dc143c;
  border: 2px solid #dc143c;
  padding: 0.6% 0;
  font-size: 90%;
  border-radius: 4px;
  text-align: center;
  animation: opacity 1s 3s forwards;
  transition: 0.7s;
}

.detail1:hover {
  background: white;
  transition: 0.7s;
}

.banner1 {
  width: 200px;
  height: 90px;
  position: fixed;
  right: 3%;
  top: 20%;
  z-index: 99;
}

.section3 {
  width: 100%;
  height: 62px;
  position: relative;
  top: 110px;
  display: flex;
}

.part1 {
  position: relative;
  height: 62px;
  width: 55%;
  background: black;
  color: white;
  display: flex;
  align-items: center;
}

.part2 {
  height: 62px;
  width: 45%;
}

.title {
  float: left;
  margin-left: 20%;
}
.scroll {
  position: relative;
  width: 60%;
  height: 20px;
  overflow: hidden;
  padding-left: 3%;
}

.scroll li {
  position: absolute;
  top: 30px;
}

.scroll .current {
  top: 0;
  transition: all 0.5s;
}

.scroll .next {
  top: 30px;
  transition: all 0.5s;
}

.scroll .prev {
  top: -30px;
  transition: all 0.5s;
}

.scroll a {
  display: -webkit-box;
  text-decoration: none;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 0.8rem;
  overflow: hidden;
}

.section3 .part2 {
  /* line-height: 62px; */
  background: #f6f5ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section3 .part2 .text {
  margin: 0 10% 0 0%;
  font-weight: bold;
}

.section3 .part2 img {
  width: 35px;
  height: 35px;
}

.section3 .part2 img:hover {
  cursor: pointer;
}

/* SLIDE */
.section4 {
  width: 100%;
  position: relative;
  top: 110px;
  height: 658px;
  transition: max-height 1s;
  background-color: #f6f5ef;
}

.hidden {
  max-height: 0;
  transition: max-height 0.5s;
  overflow: hidden;
}

.visible {
  max-height: 540px;
  transition: max-height 0.5s;
  overflow: hidden;
}

.swiper {
  height: 553px;
  /* margin-top: 39px;
  margin-left: -550px; */
  width: 100%;
}

.swiper-slide {
  width: 100%;
  height: 540px;
  opacity: 0.4;
  position: relative;
}

.swiper-slide-active {
  opacity: 1;
}

.swiper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-pagination {
  padding: 5px;
}
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 0.5;
}
.swiper-pagination-bullet.on {
  opacity: 1;
  background-color: #fff;
  width: 12px;
  height: 12px;
  background-image: url(./images/pagination.png);
}

.swiper-pagination-bullet:nth-child(n + 3) {
  display: none;
}

.prevbtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  left: 18%;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.7%;
  z-index: 10;
  transition: 0.5s;
}

.nextbtn {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40%;
  right: 18%;
  border: 2px solid black;
  border-radius: 50%;
  padding: 0.7%;
  z-index: 10;
  transition: 0.5s;
}

.prevbtn:hover,
.nextbtn:hover {
  cursor: pointer;
  background-color: white;
  transition: 0.5s;
}

.prev,
.next,
.stop {
  width: 100%;
  height: 100%;
}

.prev ::after,
.next ::after {
  display: none;
}

.stopbtn {
  position: absolute;
  object-fit: contain;
  height: 11px;
  width: 9px;
  /* background: red; */
  left: 48%;
  bottom: 4.5%;
  z-index: 9999;
}

.stopbtn:hover {
  cursor: pointer;
}
.look {
  position: relative;
  display: none;
  border: 3px solid black;
  border-radius: 3px;
  bottom: 15%;
  width: 121px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  left: 42%;
  font-size: 0.9rem;
  transition: 0.5s;
}

.look:hover {
  color: white;
  background-color: black;
  transition: 0.5s;
}

/* section5 */

.section5 {
  position: relative;
  top: 110px;
  width: 100%;
  height: 160px;
  background: #1e3932;
  padding-top: 30px;
  padding-bottom: 50px;
}
.inner {
  width: 1080px;
  margin: 0 auto;
}
.section5logo {
  float: left;
  text-align: center;
}

.section5logo2 {
  width: 176px;
}

.section5part2 {
  margin-left: 200px;
  line-height: 120%;
  color: white;
  height: 100%;
  width: 80%;
}

.section5part2 h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.section5text1part2 {
  margin-top: 20px;
  margin-bottom: 3%;
}

.section5text1 {
  border-bottom: 0.1px solid #ffffff7b;
}

.section5text2 {
  font-size: 0.8rem;
  margin-top: 2%;
}

.section5btn {
  position: absolute;
  right: 15%;
  top: 35%;
}

.section5btn a:first-child {
  background: #00704a;
  border: 2px solid #00704a;
  color: white;
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 21.4px;
  padding-right: 21.4px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.section5btn a:nth-child(2) {
  border: 2px solid white;
  box-sizing: border-box;
  display: inline-block;
  height: 38px;
  line-height: 36px;
  padding-left: 21.4px;
  padding-right: 21.4px;
  font-size: 14px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.section5btn2 {
  position: absolute;
  right: 15%;
  top: 70%;
  border: 1px solid white;
  border-radius: 2px;
  padding: 6px;
}

.section5 a:hover,
.section5btn2:hover {
  text-decoration: underline;
}

/* section6 */

.section6 {
  position: relative;
  top: 110px;
  width: 100%;
  height: 578px;
  background-image: url(./images/bean.inner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.inner1 {
  position: absolute;
  width: 15.95%;
  height: 70%;
  left: -15%;
  top: 30%;
}

.inner1animation {
  animation: inner1 1s ease-out forwards;
}

@keyframes inner1 {
  100% {
    left: 30%;
  }
}

@keyframes inner2 {
  100% {
    right: 25%;
  }
}

.inner1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inner2 {
  position: absolute;
  right: 10% !important;
  top: 45%;
  color: white;
  line-height: 150%;
  font-size: 0.8rem;
}

.inner2animation {
  animation: inner2 1s ease-out forwards;
}

.inner2 h1 {
  margin: 10px 0;
}

.inner2 .text2 {
  margin-top: 10%;
  font-size: 15px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  width: 30%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  transition: 0.7s;
}

.inner2 .text2:hover {
  background-color: #fff;
  color: #88062a;
  text-decoration: underline;
  transition: 0.7s;
}

/* section7 */

.section7 {
  position: relative;
  background-image: url(./images/section7\ bg.png);
  height: 400px;
  margin-top: 110px;
  overflow: hidden;
}

.section7 .logo {
  position: relative;
  top: 15%;
  left: 20%;
  width: 497px;
  height: 198px;
}

.section7 .logo img {
  object-fit: contain;
}

.section7 .detail {
  position: relative;
  left: 35%;
  top: 25%;
  z-index: 1;
}
.section7 .img {
  position: absolute;
  bottom: 1%;
  right: -15%;
}
.section7 .detail {
  display: block;
  width: 8%;
  height: 30px;
  line-height: 30px;
  color: #c2883f;
  font-size: 14px;
  border: 2px solid #c2883f;
  border-radius: 5px;
  transition: all 0.7s;
  text-align: center;
  cursor: pointer;
}

.section7 .detail:hover {
  color: white;
  text-decoration: underline;
  background-color: #c2883f;
  transition: all 0.7s;
}

.section7 .img img {
  opacity: 0;
  animation: section7opa 1.5s linear forwards;
}

@keyframes section7opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* section8 */

.section8 {
  position: relative;
  background-image: url(./images/section8bg.jpg);
  height: 800px;
  width: 100%;
  background: url(./images/section8bg.jpg) contain center no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.section8 .banner1 {
  position: absolute;
  left: -20%;
  transition: left 2s;
}

.section8 .img1 {
  position: absolute;
  right: -5%;
  top: 10%;
  transition: 1s;
}

.section8 .text1 {
  position: absolute;
  color: white;
  top: 50%;
  left: -30%;
  text-align: right;
  transition: 2.5s;
}

.section8 .text1 > p:first-child {
  font-size: 1.5rem;
}

.section8 .text1 {
  font-size: 0.9rem;
}

.section8 .text2 {
  position: absolute;
  bottom: 20%;
  left: 31.5%;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 0.2% 1.5%;
  line-height: 30px;
  text-align: center;
  font-size: 0.9rem;
  transition: 0.7s;
  cursor: pointer;
}

.section8 .text2:hover {
  background: white;
  color: black;
  text-decoration: underline;
  transition: 0.7s;
}

@keyframes section8ani1 {
  100% {
    left: 23%;
  }
}

@keyframes section8ani2 {
  100% {
    left: 13.5%;
  }
}

.section8ani1 {
  animation: section8ani1 1.5s ease-out forwards;
}

.section8ani2 {
  animation: section8ani2 ease-out 2s forwards;
}

.section9 {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(./images/section9bg.png) center no-repeat;
}

.section9 .logo1 {
  width: 40%;
  position: absolute;
  top: 35%;
  left: 20%;
  z-index: 2;
}

.section9 .logo1 img {
  width: 100%;
  height: auto;
}
.section9 .banner1 {
  width: 24%;
  position: absolute;
  top: 0%;
  right: 18%;
  z-index: 1;
  opacity: 0;
}

.section9 .banner1 img {
  width: 100%;
  height: auto;
}

@keyframes section9ani {
  100% {
    opacity: 1;
  }
}

.section9ani {
  animation: section9ani 2s forwards;
}

.section9 .text1 {
  position: absolute;
  bottom: 23%;
  border: 2px solid black;
  width: 6%;
  padding: 0.5% 0.8%;
  font-size: 0.9rem;
  border-radius: 5px;
  text-align: center;
  left: 35%;
  transition: 0.7s;
  cursor: pointer;
}

.section9 .text1:hover {
  text-decoration: underline;
  background: black;
  transition: 0.7s;
  color: white;
}

.section10 {
  position: relative;
  background: url(./images/section10bg.jpg);
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.section10 .img1 {
  width: 15%;
  position: absolute;
  left: 33%;
  bottom: 10%;
  z-index: 5;
  opacity: 0;
}
.section10 .img1 img {
  width: 100%;
  height: auto;
}

.section10 .img2 {
  position: absolute;
  width: 25%;
  left: 20%;
  z-index: 4;
  opacity: 0;
}
.section10 .img2 img {
  width: 100%;
  height: auto;
}

.section10 .img3 {
  position: absolute;
  bottom: 0%;
  width: 15%;
  right: 10%;
  opacity: 0;
}
.section10 .img3 img {
  width: 100%;
  height: auto;
}

.section10 .img4 {
  position: absolute;
  width: 20%;
  top: -5%;
  right: 35%;
}
.section10 .img4 img {
  width: 100%;
  height: auto;
}

.section10 .text1 {
  width: 25%;
  position: absolute;
  right: -30%;
  top: 25%;
  font-size: 1.5rem;
  transition: 2s;
}

.section10 .text1 p:nth-child(2) {
  font-size: 1rem;
}

.section10 .text2 {
  width: 25%;
  position: absolute;
  right: -30%;
  top: 42%;
  font-size: 0.9rem;
  transition: 2.5s;
}

.section10 .text3 {
  width: 7.5%;
  position: absolute;
  right: -10%;
  bottom: 15%;
  border: 2px solid black;
  text-align: center;
  padding: 0.4% 0.1%;
  border-radius: 2px;
  transition: right 3s all 0.7s;
}

.section10 .text3:hover {
  text-decoration: underline;
  color: white;
  background: black;
  transition: 0.7s;
}

@keyframes section10ani {
  100% {
    opacity: 1;
  }
}

.section10ani {
  animation: section10ani 3s forwards;
}

.mheader {
  display: none;
}

@media (max-width: 960px) {
  header {
    width: 100%;
    height: auto;
  }
  header .container,
  .section7,
  .section8,
  .section9,
  .section10,
  .h-br,
  .h-img {
    display: none;
  }

  .mheader {
    display: flex;
    width: 100%;
    height: 69px;
    position: fixed;
    align-items: center;
    background-color: #f6f5ef;
    overflow: hidden;
  }

  .mheader .img1 {
    margin-left: 1%;
    width: 45px;
    height: 45px;
    background: url(./mimages/section1img1.png) center/contain no-repeat;
  }

  .mheader .img2 {
    width: 25px;
    height: 30px;
    background: url(./mimages/section1img2.png) center/contain no-repeat;
  }

  .mheader .img3 {
    width: 24px;
    height: 32px;
    background: url(./mimages/section1img3.png) center/contain no-repeat;
  }

  .mheader .img4 {
    width: 26px;
    height: 28px;
    background: url(./mimages/section1img4.png) center/contain no-repeat;
  }
  /* section2 */
  .section2 {
    background: url(./mimages/msection2_bg.jpg) center/cover no-repeat;
    width: 100%;
    height: 416.72vw;
    position: relative;
    top: 10%;
    overflow: hidden;
  }

  .section2banner1 {
    display: none;
  }

  .section2mbanner1 {
    position: fixed;
    top: 108px;
    width: 25.7%;
    right: 1.8%;
  }

  .section2logo1 {
    display: none;
  }

  .section2 .logo2 {
    position: absolute;
    width: 60%;
    top: 7.24%;
    left: 21%;
    opacity: 0;
    animation: visible 1s forwards;
  }

  @keyframes visible {
    100% {
      opacity: 1;
    }
  }

  .section2drink {
    display: none;
  }

  .section2 .drink1 {
    top: 15%;
    left: 15%;
    width: 85%;
  }

  .section2 .drink2 {
    top: 31%;
    left: 15%;
    width: 60%;
  }
  .section2 .drink3 {
    top: 45%;
    left: 15%;
    width: 85%;
  }
  .section2 .drink4 {
    top: 58%;
    left: 15%;
    width: 70%;
  }
  .section2 .drink5 {
    top: 75%;
    left: 17%;
    width: 85%;
  }

  .section2 .detail1 {
    position: absolute;
    top: 90%;
    bottom: 0%;
    left: 30%;
    width: 32%;
    height: 30px;
    line-height: 30px;
    padding: 3.5% 0.1%;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 3px;
    z-index: 3;
  }

  .section2 .detail1:hover {
    color: #d60037;
    background-color: white;
    text-decoration: underline;
    transition: 0.7s;
  }
  .mdrink,
  .section2mbanner1 {
    display: block !important;
  }

  .section3 {
    height: auto;
    width: 100%;
    top: 0;
    position: relative;
  }

  .section3 .title {
    margin-left: 5%;
  }

  .section3 .scroll {
    width: 50%;
  }

  .section4 {
    position: relative;
    top: 0;
    height: 446px;
  }

  .section4 .swiper {
    width: 70%;
    height: 420px;
  }

  .look {
    height: 7%;
    min-width: 121px;
    left: 38%;
  }

  .section4 .stopbtn {
    left: 45%;
    bottom: 1%;
  }

  .page {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: -4%;
  }
  .section4 .btn {
    width: 140%;
    position: relative;
    bottom: 35%;
    left: -20%;
  }
  .section4 .prevbtn {
    /* margin-right: 50%; */
  }

  .section5 {
    top: 0;
    height: 429px;
    width: 100%;
    position: relative;
  }

  .section5 .inner {
    width: 100%;
  }
  .section5logo {
    width: 35%;
    height: auto;
    margin: 30px 40px 0;
  }

  .section5logo2 {
    width: 80%;
  }

  .section5part2 {
    width: 55%;
    position: absolute;
    right: 5%;
    letter-spacing: -1px;
  }

  .section5text1 h2 {
    /* width: 41%; */
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 12px;
  }

  .section5text1part2 {
    width: 58%;
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 15%;
  }
  .section5text2 {
    /* width: 33.73%; */
    font-size: 14px;
    line-height: 1.4;
  }
  .section5 .m-br {
    display: block;
  }

  .section5btn {
    left: 0%;
    top: 43%;
  }

  .section5btn2 {
    left: 0;
    width: 40%;
    top: 75%;
    text-align: center;
  }

  .section6 {
    width: 100%;
    top: 0;
    margin-top: -20px;
    height: 197vw;
    position: relative;
    background: url(./mimages/msection6bg.jpg) center/contain no-repeat;
  }

  .section6 .inner {
    opacity: 0;
    width: 100%;
    height: 80%;
    animation: visible 1s forwards;
  }

  .section6 .inner1 {
    width: 100%;
    height: 100%;
    left: 5% !important;
    top: -10% !important;
    position: absolute;
  }

  .section6 .inner2 {
    width: 100%;
    height: 100%;
  }
  .section6 .m-br,
  .section6 .m-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  .section6 .inner2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 5% !important;
    top: 60% !important;
  }

  .section6 .inner2 .text1 {
    width: 100%;
    height: auto;
  }

  .section6 .inner2 .text2 {
    position: absolute;
    left: 30%;
    width: 36%;
    font-size: 1.5rem;
    padding: 3% 0%;
  }
}

.mheaderpart2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -10%;
}

.mheaderpart2 div {
  margin-right: 4%;
}

.mdrink,
.section2mbanner1,
.detail2,
.m-br,
.m-img {
  display: none;
}
