<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <form name="register">
      <div>
        <label> 아이디<input type="text" name="userId" required /> </label>
      </div>
      <div>
        <label>
          비밀번호<input type="password" name="userPw" required />
        </label>
      </div>

      <button type="button" onclick="login2()">로그인2</button>
    </form>
    <div class="box"></div>
    <script>
      function login2() {
        const form = document.forms["register"];
        const data = {
          id: form.userId.value,
          pw: form.userPw.value,
        };
        const box = document.querySelector(".box");

        if (!form.userId.checkValidity() || !form.userPw.checkValidity()) {
          box.innerHTML = "아이디 또는 패스워드를 입력해주세요";
          return;
        }

        axios({
          url: "login2",
          method: "post",
          data: data,
        }).then((res) => {
          if (res.data.success) {
            box.innerHTML = `${res.data.name}님 환영합니다.`;
          }
          if (!res.data.success) {
            box.innerHTML = "아이디 또는 비밀번호를 잘못 입력했습니다.";
          }
        });
      }
    </script>
  </body>
</html>
