<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습과제입니다</title>
  </head>
  <body>
    <h1>실습과제입니다.</h1>

    <form
      action="/result"
      method="post"
      enctype="multipart/form-data"
      name="register"
    >
      <div>
        <label>아이디 <input type="email" name="email" /> </label>
      </div>
      <div>
        <label> 비밀번호 <input type="password" name="password" /> </label>
      </div>

      <div>
        <label> 이름 <input type="text" name="name" /> </label>
      </div>
      <div>
        <label> 나이 <input type="text" name="age" /> </label>
      </div>
      <div>
        <label> 프로필사진 <input type="file" name="img" /> </label>
      </div>
      <button type="button" class="resetbtn">리셋</button>
      <button>회원가입</button>

      <br />
      <a href="/api">api이동</a>
    </form>

    <script>
      const form = document.forms["register"];

      function reset() {
        form.reset();
      }
      const resetbtn = document.querySelector(".resetbtn");
      resetbtn.addEventListener("click", reset);
    </script>
  </body>
</html>
