.container{
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    position: relative;

}


.header {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center; /* 그리드 항목을 수평 중앙 정렬 */
    align-items: center;   /* 그리드 항목을 수직 중앙 정렬 */
}

li{
    list-style-type: none;
}